h1, h3, h5 {
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 37%, rgba(252,70,107,1) 100%);
}
section {
  width: 600px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  box-shadow: 1px 1px 10px black;
  opacity: 0.9;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  padding: 4rem;
  
  
}

.header i {
  font-size: 2rem;
}

#addTask{
  position: absolute;
  bottom: 300px;
  right: 290px;
  font-size: 1.5rem;
}

.task, .task2, .task3{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 2rem;

}

.task{
  background-color: beige;
}
.task2 {
  background-color: lightblue;
}
.task3 {
  background-color: lightpink;
}


.taskTitle{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.taskTitle i{
  font-size: 1.5rem;
}

.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.85rem;
}

.icons i{
  font-size: 1.25rem;
}